.footer{
    background:#eae9e9;
    padding:40px 20px 90px;
    border-top:1px solid #ececec;
}

.footer-section{
    margin-bottom:34px;
    display:grid;
    grid-template-columns:105px 1fr;
    column-gap:28px;
    align-items:start;
    padding:22px 0;
    border-bottom:1px solid #d3cfcf;
    
}

.footer-section:last-of-type{
    border-bottom:none;
}

.footer-title{
    font-size:12px;
    font-weight:700;
    letter-spacing:1.4px;
    color:#222;
    text-transform:uppercase;
    margin-bottom:16px;
}

.footer-section a{
    display:block;
    color:#555;
    text-decoration:none;
    font-size:15px;
    margin-bottom:12px;
    transition:.25s;
}

.footer-section a:hover{
    color:#000;
}

.footer-section p{
    font-size:15px;
    color:#555;
    line-height:1.8;
    margin-bottom:8px;
}

.footer-map{
    width:100%;
    height:220px;
    border-radius:16px;
    overflow:hidden;
    background:#f4f4f4;
    margin-bottom:34px;
    transition: .3s;
}
.footer-map:hover{
    transform:scale(1.01);
}

.footer-map iframe{
    width:100%;
    height:220px;
    border:none;
    border-radius:16px;
}

.footer-brand{
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
    padding-top:10px;
    border-top:1px solid #ececec;
}

.footer-logo{
    width:auto;
    margin-bottom:14px;
    height: 180px;
}

.footer-brand p{
    font-size:18px;
    font-weight:600;
    color:#222;
    margin-bottom:10px;
}

.footer-brand small{
    color:#777;
    font-size:13px;
}

.footer-content{
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    gap:12px;
}

.footer-content a{
    color:#555;
    text-decoration:none;
    font-size:15px;
    display:block;
    width:100%;
    text-align:left;
}

.footer-content a:hover{
    color:#000;
}

.footer-content p{
    color:#555;
    font-size:15px;
    line-height:1.7;
    margin:0;
    display:block;
    width:100%;
    text-align:left;
}



.footer-social{
    display:flex;
    justify-content:flex-start;
    gap:34px;
}

.footer-social a{
    display:flex;
    flex-direction:column;
    align-items:center;
    text-decoration:none;
    color:#555;
    transition:.25s;
}

.footer-social a:hover{
    transform:translateY(-2px);
}

.footer-social img{
    width:42px;
    height:42px;
    object-fit:contain;
    margin-bottom:8px;
}

.footer-social span{
    font-size:13px;
    font-weight:500;
    color:#444;
}