.home-categories{
    display:flex;
    gap:18px;
    overflow-x:auto;
    overflow-y: visible;
    padding:20px;
    scrollbar-width:none;
    margin-top: 80px;
}

.home-categories::-webkit-scrollbar{
    display:none;
}

.home-category-card{
    flex-shrink:0;
    text-align:center;
    cursor:pointer;
}

.home-category-image{
    width:80px;
    height:80px;
    border-radius:12px;
    border-color:#F58220;
    object-fit:cover;
    border:1px solid #F58220;
    display: block;
    box-shadow:0 3px 12px rgba(0,0,0,.12);
}

.home-category-card p{
    margin-top:8px;
    font-size:.82rem;
    font-weight:600;
    color:#222;
}